* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* @font-face {
    font-family: 'Hollow';
    src: url(../font/Pokemon\ Solid.ttf);
} */
body {
    background-color: #cdd3df;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    overflow: hidden;
    
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;

    }
}